<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526099270196-3m2krh8v9f619t0tu0qe7t9haj4u5vd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526099270196-3m2krh8v9f619t0tu0qe7t9haj4u5vd3</string>
	<key>API_KEY</key>
	<string>AIzaSyAIj4SuuGWPF9dOX_QYvQn9smDLkXctI2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>526099270196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieAppWithClean</string>
	<key>PROJECT_ID</key>
	<string>movie-app-63dd1</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-63dd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526099270196:ios:6da6dc0e3e406235a79861</string>
</dict>
</plist>